In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

In [12]:
data = pd.read_csv('Data_Pravince/data_all_province.csv', index_col=False)

In [13]:
cnx_data = pd.read_csv('Data_Pravince/Chiang_Mai_data.csv', index_col=False)
cnx_data.head(5)

   Day  Month  PM10_mask  PM2.5  Retrospective  UTC Hour  Year
0    3      3        1.0   53.7              0         8  2016
1    3      3        1.0   53.7              0         9  2016
2    3      3        1.0   53.7              0        10  2016
3    3      3        1.0   53.7              0        11  2016
4    3      3        1.0   33.4              0        12  2016

In [14]:
cnx_data[['Month','Year','PM2.5']].groupby(['Month','Year']).mean()

                PM2.5
Month Year
1     2017  23.389951
      2018  28.015065
      2019  25.812816
2     2017  42.635050
      2018  50.661490
      2019  54.793290
3     2016  64.143870
      2017  56.120141
      2018  72.506503
      2019  68.735190
4     2016  73.099858
      2017  44.215487
      2018  46.622458
5     2016  30.886005
      2017  21.047172
      2018  18.214052
6     2016   9.091867
      2017  12.948378
      2018  15.666165
7     2016  13.662759
      2017  12.862865
      2018  13.095271
8     2016  15.067082
      2017  11.534753
      2018  14.276996
9     2016  15.525133
      2017  11.350890
      2018  11.954726
10    2016  16.699006
      2017  14.194928
      2018  17.278397
11    2016  19.157704
      2017  20.615965
      2018  19.873055
12    2016  26.939054
      2017  25.568813
      2018  22.420388

In [ ]:
plt